<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <th>Choose One</th>
        <th>Singles (drag to place)</th>
        <th>You Are Here</th>
        <th>Expirations</th>
    </tr>
    <tr>
        <td option-chain-strategy (event)="updateStrategyClick($event)" [symbol]="underlyingSymbol">Strategy</td>
        <td option-chain-mode-control (event)="updateModeChange($event)"></td>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td rowspan="2" class="{{(side === 'buy') ? 'GREEN-BOX': 'RED-BOX'}}" style="width: 50px;text-align: center !important;">
                        <span>{{side}}</span>
                    </td>
                    <th>Expiration</th>
                    <th>Strike</th>
                    <th>Side</th>
                    <th>Volume</th>
                    <th>Open Int</th>
                    <th>Liquidity</th>
                    <th>POP</th>
                </tr>
                <tr>
                    <td>{{symbol?.expiryDate}}</td>
                    <td>{{symbol?.strikePrice}}</td>
                    <td>{{orderType}}</td>
                    <td>{{snapshot?.volume}}</td>
                    <td>{{snapshot?.open}}</td>
                    <td>{{snapshot?.liq}}<span class="icon ico-tint"></span></td>
                    <td>{{snapshot?.pop}}</td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td (click)="scrollDown()">Time<br>-</td>
                    <td (click)="scrollUp()">Time<br>+</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>