<div class="OC-TOP">
    <ul>
        <li>
            <input type="text" class="OC-T-input" placeholder="SPDR S&P 500" id="optSymbolSearch">
            <button type="submit" class="XBUTTON2"><i class="icon ico-lock"></i></button>
        </li>
        <li>
            <span>Last price </span><br>
            <span class=" TX-GREEN FONT14">209.66</span>
        </li>
        <li>
            <span>Net Change </span><br>
            <span class=" TX-GREEN FONT14">203.66</span>
        </li>
        <li>
            <span>Today's Low/High </span><br>
            <span class=" TX-GREEN FONT14">209.22</span>
        </li>
        <li>
            <span>Liquidity </span>
            <br>
            <span class=" TX-GREEN FONT14">
                <div class="OC-RATING">
                    <span class="icon ico-star act"></span>
                    <span class="icon ico-star act"></span>
                    <span class="icon ico-star act"></span>
                    <span class="icon ico-star"></span>
                    <span class="icon ico-star"></span>
                </div>
            </span>
        </li>
        <li class="FLOAT-R">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td class="ALIGN-RIGHT"><span>topPanelSelectedIdex.type</span><br>
                            <span class=" FONT18">topPanelSelectedIdex.last<span
                                    class="icon"></span>topPanelSelectedIdex.change</span>
                    </td>
                    <td>
                        <div class="XWIDGET-TABS-l2 FLOAT-R">
                            <ul>
                                <!--<li ng-repeat="(key , val) in topPanelIndexList" class="{{val.class}}"-->
                                <!--ng-click="changeTopPanelIndexSection(key)">{{key}}-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>