<div class="OC-FOOTER">
    <div class="OC-F-TB">
        <ul class="OC-F-ULL">
            <li><span class="icon ico-gear"></span> Settings</li>
            <li><span class="icon ico-contrast-1"></span> OPT:STD</li>
            <li><span class="icon ico-caret-up-down"></span> ASK/BID</li>
        </ul>
        <!--<div class="OC-F-MID"><option-chain-order-information></option-chain-order-information></div>-->
        <ul class="OC-F-ULR">
            <li><span class="icon ico-file-add"></span> Add Entry</li>
            <li><span class="icon ico-sync"></span></li>
            <li><span class="icon ico-shield-1"></span></li>
            <li><span class="icon ico-filter"></span></li>
        </ul>
    </div>
    <div class="OC-F-OPTIONS">
        <div class="FLOAT-L">
            <div class="FLOAT-L padding5"><span>Price </span> <br>
                <input type="number" class="OC-F-input">
                <button type="submit" class="XBUTTON2">
                    <i class="icon ico-lock"></i>
                </button>
            </div>
            <div class="FLOAT-L padding5">
                <span>Order Type </span> <br>
                <select class="OC-F-input">
                    <option value="Limit">Limit</option>
                    <option value="Market">Market</option>
                </select>
            </div>
            <div class="FLOAT-L padding5">
                <span>Time-In-Force </span> <br>
                <select class="OC-F-input">
                    <option value="DAY">DAY</option>
                    <option value="GTC">GTC</option>
                </select>
            </div>
        </div>
        <div class="FLOAT-R ">
            <input type="button" class="XBig-Button">
        </div>
    </div>
</div>